@charset "utf-8";
@font-face {
    font-family: fonte1;
    src: url(Cyber\ City.otf);
}

@font-face {
    font-family: fonte2;
    src: url(giltta.otf);
}

@keyframes animacao{
    from {
        margin-left: 100%;
        width: 300%;
      }

      to {
        margin-left: 0%;
        width: 100%;
      }

}

*{
margin: 0;
padding: 0;
}

body{
    background-color: black;
 margin: 0;
 max-width: 100%;
 padding: 0;
 font-family: sans-serif;
 word-wrap: break-word;
 overflow-wrap: break-word;
}

header{
    header{
        background-color: #000000;
        margin: 0.1px;
        padding: 10px;
    border: 5px solid #000000;
    text-align: center;
    }
}

img{
    width: 700px;
    height: 500px;
    margin-top: 70px;
    border-radius: 100px;
}

div{
    text-align: center;
}


h1{
    text-align: center;
    margin-top: 60px;
    font-family: fonte1;
    color: #874cca;
    font-size: 40px;
    text-shadow: 1px 2px 1px #7db0f1;
}

h2{
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    font-family: fonte2;
    text-shadow: 1px 3px 1px #4a4cc9;
    animation-duration: 2s;
    animation-name: animacao;
}


h2 span{
color: #a044bd;
font-size: 50px;
text-shadow: 1px 3px 1px #4a4cc9;
animation-duration: 5s;
    animation-name: animacao;
}

h3{
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    font-family: fonte2;
    text-shadow: 1px 3px 1px #4a4cc9;
    animation-duration: 8s;
    animation-name: animacao;
}

div{
    display: block;
}

iframe{
   margin: 0 auto;
}

section{
    text-align: center;
    margin-top: 25px;
}

section a img{
    width: 200px;
    height: 200px;
}

footer{
    color: aliceblue;
    text-align: center;
}